<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="font-size: 1.5rem; font-weight: bold; margin-left:15px">Inventory Management System</a>
  </div>
</nav>